/* Blog styling*/

/*Complete*/

/*Headings.js*/
.basic-h2 {
  font-size: 1.7rem;
  margin-bottom: 30px;
  margin-top: 30px;
  font-weight: 600;
}
/* 
.headings-two {
  margin: 2rem 0;
  color: hotpink;
}

.headings-underline {
  width: 5rem;
  height: 5px;
  background: var(--clr-primary-5);
} */

/*Lists.js*/

.basic-list {
  margin-top: 35px;
  margin-left: 10px;
  font-size: 1.25rem;
  margin-bottom: 10px;
}

/*Code.js*/

.code-general {
  margin-top: 10px;
  margin-bottom: 10px;
}

.blog-hero-image {
  width: 100%;
    max-height: 400px;
    overflow: hidden;
}
